apiVersion: v1
kind: Service
metadata:
  name: my-cats-app
  labels:
    app: my-cats-app
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
      nodePort: {{ .Values.service.nodePort }}
  selector:
    app: my-cats-app
